; [default]
; forks =8
; #inventory = inventory.aws_ec2.yaml #no need to give command line so #ansible-playbook -e ansible_passwors=DevOps321 nginx.yaml
; inventory = inventory.ini
; remote_user= ec2-user


[defaults]
host_key_checking = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, amazon.aws.aws_ec2