# [defaults]

# inventory      = inventory.ini
# log_path = /var/log/ansible.log
# remote_user = ec2-user
# remote_password = DevOps321
# private_key_file = /home/ec2-user/ansible
# remote_user = ansible


; [default]
; forks =8
; #inventory = inventory.aws_ec2.yaml #no need to give command line so #ansible-playbook -e ansible_passwors=DevOps321 nginx.yaml
; inventory = inventory.ini
; remote_user= ec2-user


# [defaults]
# inventory = inventory.aws_ec2.yaml
# host_key_checking = False
# forks = 2
# remote_user = ec2-user

# [inventory]
# enable_plugins = host_list, script, auto, yaml, ini, toml, amazon.aws.aws_ec2

[defaults]
inventory = inventory.ini
remote_user = ec2-user
host_key_checking = False
# log_path = /var/log/ansible.log